/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-grey: #dedddd;
  --vt-c-dark-gray: rgba(199, 198, 198, 0.64);
  --vt-c-light-lavendel: #dedee8;
  --vt-c-lavendel: #C6C7D2;
  --vt-c-dark-lavendel: #888DA7;
  --vt-c-dark-dark-lavendel: #373744;

  --vt-c-light-blue: #AED2FF;
  --vt-c-blue: #a2beee;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-red: #b70000;
  --ct-c-light-red: #FF8383;
  --ct-c-light-dark-red: #f36e6e;
  --vt-c-orange: #FF8F06;
  --vt-c-dark-orange: #ff7300;
  --vt-c-yellow: #FFEDAE;
  --vt-c-dark-yellow: #ffe096;

  --vt-c-transparent-white: rgba(255, 255, 255, 0.8);
  --vt-c-transparent-black: rgba(0, 0, 0, 0.6);

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(255, 254, 254, 0.64);


  --vt-hokieStone-6t:  #C8C9CA;
  --vt-c-black-hover: #141414;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

:root{
  --color-white-background: var(--vt-c-white);
  --color-lavendel-background: var(--vt-c-lavendel);
  --color-light-lavendel-background: var(--vt-c-light-lavendel);
  --color-transparent-black-background: var(--vt-c-transparent-black);

  --color-black-button: var(--vt-c-black);
  --color-white-button: var(--vt-c-white);
  --color-purple-button: var(--vt-c-dark-lavendel);
  --color-lavendel-button: var(--vt-c-lavendel);
  --color-dark-lavendel-button: var(--vt-c-dark-dark-lavendel);
  --color-orange-button: var(--vt-c-orange);
  --color-dark-orange-button: var(--vt-c-dark-orange);
  --color-light-blue-button: var(--vt-c-light-blue);
  --color-blue-button: var(--vt-c-blue);
  --color-transparent-button: var(--vt-c-transparent-white);
  --color-gray-button: var(--vt-c-grey);
  --color-dark-gray-button: var(--vt-c-dark-gray);
  --color-yellow-button: var(--vt-c-yellow);
  --color-dark-yellow-button: var(--vt-c-dark-yellow);
  --color-light-red-button: var(--ct-c-light-red);
  --color-light-dark-red-button: var(--ct-c-light-dark-red);
  --color-error-border: var(--vt-c-red);

  --color-white-text: var(--vt-c-white);
  --color-black-text: var(--vt-c-black);
  --color-gray-text: var(--vt-c-dark-gray);
  --color-error-text: var(--vt-c-red);
  --color-dark-orange-text: var(--vt-c-dark-orange);

  --color-orange-border: var(--vt-c-orange);
  --color-black-border: var(--vt-c-black);

  --color-gray-divider: var(--vt-c-grey);

  --color-black-button-hover: var(--vt-c-black-hover);

  --color-active-chat:var(--vt-c-light-lavendel);

  --spacing-sm: 0.5rem;
  --spacing-md: 0.75rem;
  --spacing-lg: 1rem;

  /* Font Sizes */
  --font-size-xs: 0.750rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;

  /* Border Radius */
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;

  /* Button Sizes */
  --btn-padding-y: 0.75rem;
  --btn-padding-x: 1rem;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-h3: 1.25rem;
  --heading-weight: 600;
  --heading-line-height: 1.3;

}

:root{
  --global-border-size: 1px;
  --global-thicc-border-size: 2px;
  --global-thicccc-border-size: 3.5px;
  --global-border-radius: 10px;
  --global-box-shaddow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --global-button-height: 5vh;
  --global-button-min-height: 20px;
}

@media (prefers-color-scheme: dark) {
  html:not(.manual-light) {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);
    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);
    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-1);
    --color-active-chat:var(--vt-c-dark-dark-lavendel);
  }
}

html.manual-dark {
  --color-background: var(--vt-c-black-soft);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-1);
  --color-active-chat:var(--vt-c-dark-dark-lavendel);

  .invertible-icon, .inv-icon, #inv-icon, .inv-image {
    filter: invert(100%);
  }

  h1{
    color: var(--vt-c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-size: var(--font-size-h1)
}

.error-message{
  color: var(--color-error-text);
}

.error{
  border: 2px solid var(--color-error-border);
}

button{
  cursor: pointer;
}

select{
  cursor: pointer;
}

option{
  cursor: pointer;
}

button:disabled{
  cursor: auto;
}
